[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-admin-honeypot = "*"
django-maintenance-mode = "*"
whitenoise = "*"
django-sslserver = "*"

[dev-packages]

[requires]
python_version = "3.9"
